*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SDK_JP_Web'; 
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #efded3;
}
.Heder{
    display: flex;
}
.Heder a{
    color: #efded3;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease
}
.Heder a:hover{
    border-bottom:  2px solid  #b23126;
    transform: scale(1);
}
#menu-icon{
    color: #efded3;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.chara{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #c5ede7 1%,   #732920 28.53%, #64756c  75.52%);
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.Chara-text h5{
    margin-bottom: 40px;
}
.Chara-text h1{
    font-family: 'media/genjing.ttf';
    font-size: 90px;
    line-height: 1;
    color: #efded3;
    margin: 0 0 45px;
}
.Chara-text h4{
    color: #539382;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'media/genjing.ttf';
}
.Chara-text p{
    color: #b23126;
    font-size: 15px;
    font-family: 'media/genjing.ttf';
    line-height: 1.9;
    margin-bottom: 40px;
}
.Kazuzu img{
    width: 500px;
    height: auto;
    transition: all .50s ease;
}
.Kazuzu img:hover{
    transform: scale(1.2);
}
.Chara-text a{
    font-family: 'media/genjing.ttf';
    display: inline-block;
    color: #efded3;
    background-color: #539382;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.Chara-text a:hover{
    background: transparent;
    border: 1px solid #c5ede7;
    transform: translateX(8px);
}
.Chara-text p{
    background: transparent;
    transition: all .50s ease;
}
.Chara-text p:hover{
    color: #539382;
    background: #c5ede7;
    transform: scale(1.3);
   
    border-radius: 19px;
    
}
.Chara-text a.demo{
    background: transparent;
    border:  1px solid #c5ede7;
    margin-left: 20px;
}
.Chara-text a.demo i{
    vertical-align: middle;
    margin-right: 5px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons img{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .50s ease;
}
.icons img:hover{
    color: #6a4799;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: #c5ede7;
    background: #539382;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
.artefak{
    width: 100%;
    background: linear-gradient(245.59deg,    #732920 20.53%, #64756c  57%);
    padding: 100px 0;
    
}
.DPS{
    
    width: 80%;
    height: 650px;
    background-color: rgba(197, 237, 231, 0.50);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.artefak .artefakdt img{
    height: 55px;
    width: 55px;
    align-items: left;
}
.artefakdt{
    display: flex;
    text-align: center;
    gap: 50px;
  
}
.viri{
    transition: all .50s ease;
}
.viri:hover{
    transform: translateY(-5px);
}

.flower{
    transition: all .50 ease;
}

.flower:hover{
    transform: translateY(-5px);
}

.plume{
    transition: all .50 ease;
}

.plume:hover{
    transform: translateY(-5px);
}

.circlet{
    transition: all .50 ease;
}

.circlet:hover{
    transform: translateY(-5px);
}
.sands{
    transition: all .50 ease;
}

.sands:hover{
    transform: translateY(-5px);
}

.goblet{
    transition: all .50 ease;
}

.goblet:hover{
    transform: translateY(-5px);
}


.DPS h3{
    color: #efded3;
    font-style: 'media/genjing.ttf';
}
.foot{
    background: #64756c;
    text-align: center;
    padding: 20px;
}
.foot p{
    font-family: 'media/genjing.ttf';
    color: #efded3;
}
.foot img{
    transition: all .50s ease;
}
.foot img:hover{
    color: #6a4799;
    transform: translateY(-5px);
}

